#recipe {
  float: left;
  width: 20em;
  margin-top: 3em;
  margin-left: 3em;
}

.recipe-info {
  float: right;
  margin-top: 5em;
  width: 30em;
}

h1 {
  font-size: 3em;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

#recipe-synopsis {
  font-weight: 500;
  font-size: 1.5em;
}

button {
  background-color: #4caf50;
  color: #fffff0;
  font-size: 1.5em;
  height: 2.5em;
  width: 10em;
  margin-top: 1em;
  border: 1px solid #4caf50;
  box-shadow: 1px 2px 2px 2px darkgreen;
}

button:hover {
  background-color: #228b22;
  transform: scale(1.1);
}

.recipe-extra-info {
  clear: both;
  margin-left: 7%;
  margin-right: 5%;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.inline-block {
  display: inline-block;
}

.extra-info {
  width: 30%;
  margin-right: 2.5%;
}

.extra-link {
  width: 30%;
  margin-right: 6%;
}

.important-info {
  width: 27%;
}

.important-info p {
  color: red;
}

.extra-info-text {
  font-size: 1.2em;
  font-family: sans-serif;
}

h2 {
  font-weight: 900;
  font-size: 1.2em;
  font-family: sans-serif;
}

.recipes {
  background-color: #f5deb3;
  height: auto;
  overflow: hidden;
  padding-bottom: 3em;
}

#mailing-list-btn {
  background-color: #ff9f00;
  width: 14em;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
  border: 1px solid #ff9f00;
  box-shadow: 1px 2px 2px 2px darkgray;
  margin-top: 0;
}

#mailing-list-btn:hover {
  background-color: #f28500;
}

.mailing-list {
  text-align: center;
  padding-bottom: 3em;
}

input[type="email"] {
  width: 15em;
  height: 3.4em;
  padding-left: 1em;
  font-size: 1.1em;
  margin-right: 1em;
}

input[type="email"]::placeholder {
  font-size: 1.5em;
}

input[type="email"]:focus {
  outline: 2px solid light blue;
}

li {
  font-size: 1.1em;
}

@media only screen and (max-width: 930px) {
  .container {
    width: 100%;
  }

  .recipes {
    padding-bottom: 2em;
  }

  #recipe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    width: 70%;
    float: none;
  }

  .recipe-info {
    float: none;
    margin-top: 0;
    width: 100%;
    text-align: center;
  }

  #recipe-name {
    font-size: 2.5em;
    margin-top: 0.5em;
    margin-bottom: 0;
  }

  #recipe-synopsis {
    font-size: 1.2em;
    margin-top: 0.5em;
    margin-bottom: 0;
  }

  button {
    font-size: 1.3em;
  }

  .mailing-list {
    padding-bottom: 1.5em;
  }

  input[type="email"] {
    height: 3em;
  }

  input[type="email"]::placeholder {
    font-size: 1.3em;
  }
}

@media only screen and (max-width: 650px) {
  input[type="email"] {
    height: 2.5em;
    width: 11em;
  }

  input[type="email"]::placeholder {
    font-size: 1em;
  }

  #mailing-list-btn {
    font-size: 1em;
  }

  .extra-info,
  .extra-link,
  .important-info {
    display: block;
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .recipes {
    padding-bottom: 1.5em;
  }

  #recipe {
    width: 100%;
    margin-top: 0;
  }

  #recipe-name {
    font-size: 2em;
  }

  button {
    font-size: 1em;
  }

  input[type="email"] {
    width: 12.8em;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5em;
  }

  #mailing-list-btn {
    display: block;
    margin: 0 auto;
  }

  .mailing-list {
    padding-bottom: 1em;
  }
}
