html,
body {
  margin: 0;
  /* height: 100%;
  width: 100%; */
}

body {
  background-color: #fffff0;
}

#logo {
  width: 3em;
  height: 3em;
  float: left;
  margin-top: -0.5em;
}

nav ul li {
  border-right: 1px solid;
}

nav li {
  display: inline;
}

nav {
  background-color: #2f2626;
  height: 5em;
  padding: 1.5em;
  color: #5f4c4c;
  width: 100%;
  z-index: 1000;
  min-width: 18.75em;
}

ul {
  list-style-type: none;
  margin: 0;
  /* overflow: hidden; */
}

li a {
  color: #c5aa6a;
  font-size: 1.3em;
  font-weight: 500;
  padding-right: 0.5em;
  padding-left: 0.5em;
}

li a:hover {
  color: green;
}

* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}

.container {
  background-color: #fffff0;
  margin: 0 auto;
  min-width: 18.75em;
  max-width: 57em;
}

.footer {
  height: 18.5em;
  background-color: #2f2626;
  min-width: 18.75em;
  z-index: 1000;
  min-width: 18.75em;
}

.footer-content {
  display: block;
  margin: 0 auto;
  width: 10em;
  padding-top: 1em;
}

.vertical-list {
  padding-top: 0.5em;
}

.vertical-list a {
  display: block;
  padding: 0.5em;
}

.copyright {
  color: #c5aa6a;
  font-size: 1.3em;
  font-weight: 500;
  margin-left: 2em;
}

.padding-left {
  padding-left: 0.625em;
}

@media only screen and (max-width: 500px) {
  nav {
    height: 11em;
    padding-top: 1em;
  }

  #navContainer ul {
    text-align: center;
  }

  nav li {
    display: block;
    padding: 0.4em;
  }

  nav ul li {
    border-right: 0;
    font-size: 0.9em;
  }

  .vertical-list li a {
    padding: 0.3em;
    font-size: 1.1em;
  }

  .footer {
    height: 15em;
  }
}

@media only screen and (min-width: 930px) {
  body {
    background-image: url("images/food_wallpaper.jpg");
    background-size: contain;
    background-repeat: repeat;
  }
}
