.container {
  height: 100%;
  padding-left: 5%;
  padding-top: 3em;
  padding-bottom: 3em;
  background-color: #635d5c;
}

#logo {
  width: 3em;
  height: 3em;
  float: left;
}

.recipe {
  font-size: 1.4em;
}

.recipe-content {
  background-color: #f5deb3;
  margin-right: 3em;
  padding-left: 10%;
  padding-top: 1em;
  padding-bottom: 1em;
  box-shadow: 5px 10px 8px 10px #2f2626;
}

p,
li {
  font-family: sans-serif;
}

#rcp1,
#rcp2,
#rcp3,
#rcp4,
#rcp5 {
  height: 5em;
}

img {
  width: 18.75em;
  height: 18.75em;
  box-shadow: 1px 2px 2px 2px #2f2626;
}

a {
  color: yellowgreen;
  font-weight: 500;
}

.start,
.pause,
.continue {
  display: inline-block;
  height: 1.5em;
  color: #fffff0;
  text-align: center;
  padding-top: 0.15em;
  margin-right: 0.5em;
  font-size: 1.3em;
  border-radius: 0.9em;
  box-shadow: 1px 2px 2px 2px #2f2626;
}

.start {
  background-color: #32cd32;
  width: 3em;
}

.start:hover {
  background-color: #228b22;
  transform: scale(1.1);
}

.pause {
  background-color: orange;
  width: 3.5em;
}

.pause:hover {
  background-color: #f28500;
  transform: scale(1.1);
}

.continue {
  background-color: #4d4dff;
  width: 5em;
}

.continue:hover {
  background-color: #0f52ba;
  transform: scale(1.1);
}

.timeInfo {
  background-color: #fffff0;
  width: 7em;
  height: 2.2em;
  display: block;
  margin-top: 1.3em;
  font-family: sans-serif;
  text-align: center;
  padding-top: 0.5em;
  font-size: 1.3em;
  border-radius: 0.9em;
  color: blue;
  display: none;
  box-shadow: 1px 2px 2px 2px #2f2626;
}
